.App {
  text-align: center;
  min-height: 10vh; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #948b73;
  min-height: 10vh; 
  height: 80px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
