html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #F6F6F6;
  }
  

h4 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #ffc3a0 0%, #9ce0b5 100%);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
}
  
h6 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #9ce0b5 0%, #ffc3a0 100%);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
}

.pagination-container{    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 36px auto;
    width: 100%;
    max-width:  1400px;
}


.card-container{    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 36px auto;
    width: 100%;
    max-width:  1400px;
}


@media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
}
  
@media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    font-family: arial;
}

.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
}

.title {
    color: grey;
    font-size: 18px;
}

.swapi-black-text {
    font-weight: normal;
    color: #000000;
}

.swapi-grey-text-italic {
    padding: 0 5px 0;
    font-weight: normal;
    font-style: italic;
    color: #999;
}

.swapi-black-text-italic {
    padding: 0 5px 0;
    font-weight: normal;
    font-style: italic;
    color: #000000;
}

.page-link {
	position: relative;
    display: block;
	padding: .45rem .65rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #666;
	background-color: #f9f9f9;
	border: 1px solid #dee2e6;
}